
body {
    background-color:black;
    color:white;
    margin: 0;
  }
    section {
      width: 60%;
      height:25vh;
      margin:  auto;
    display:grid; 
    row-gap:5px;
  }
  
  .grid-column-one{
    display:grid;
    grid-template-columns:30% 15%;
    column-gap:5px;
  }
  .grid-column-two{
    display:grid;
    grid-template-columns:20% 25%;
    gap:5px;
  }
    
  
  .item1{
    background:red;
  }
  
  .item2{
    background:orange;}
  
  .item3{
    background:red;
  }
  
  .item4{
    background:orange;
  }
  
  .item5{
    background:green;
    grid-row-start:1;
    grid-row-end:3;
  }
  .item6{
    background:blue;
  }
  .item7{
    background:blue;
    row-gap:10px;
  }
  .item8{
    background:blue;
  }
  
  