header {
    display: flex;
    justify-content: space-between;
    background-color: hsl(184, 100%, 22%);
    padding: 20px 20px;
    margin-bottom: 20px;
}

a {
    background-color: hsl(179, 100%, 13%);
    border: none;
    border-radius: 5px;
    color: white;
    cursor:pointer;
    margin-left: 10px;
    padding: 5px 20px;
    text-decoration: none;
}


a:hover {
 border: 1px solid white;
 background-color: hsl(184, 100%, 22%);;
 transform: scale(1.1);
}